<p *ngIf="estaLigado; else desligado">Servidor está Ligado</p>

<ng-template #desligado>
    <p>Servidor está Desligado</p>
</ng-template>

<button (click)="toggle()">Ligar/Desligar</button>

<hr>
<p>{{counter}}</p>
<p *ngIf="counter > 5">Maior que 5</p>
<p *ngIf="counter % 2 == 0">Número par</p>
<button (click)="incrementar()"><h1>+</h1></button>

<hr>
<h4>Lista de Compras</h4>
<ul>
    <li *ngFor="let prod of listaCompras">
        {{prod}}
    </li>
</ul>

<hr>
<table class="table-alunos">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Média</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let aluno of alunos; index as i"
            [ngStyle]="{'background-color': i%2==0 ? '#f2f2f2' : 'white'}"
            [ngClass]="{'realce': aluno.media >= 7.5 && aluno.media <= 10}"
        >
            <td>{{i+1}}</td>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.email}}</td>
            <td [ngClass]="{'aprovado' : aluno.media >= 7,
                            'reprovado': aluno.media < 7}">
                {{aluno.media}}
            </td>
            <td><button [disabled]="aluno.media > 7" (click)="alertar(aluno)">Alertar</button></td>
        </tr>
    </tbody>

</table>

<hr>
<br>
<select [(ngModel)]="opcaoSelecionada">
    <option value="nenhum">Nenhum</option>
    <option *ngFor="let opc of opcoes"
            [value]="opc"
    >
        {{opc}}
    </option>    
</select>

<div [ngSwitch]="opcaoSelecionada">
    <img *ngSwitchCase="'Gato'" 
    src="https://picsum.photos/200" title="Gato" />
    <img *ngSwitchCase="'Cachorro'" 
    src="https://picsum.photos/200" title="Cachorro"/>
    <img *ngSwitchCase="'Pombo'" 
    src="https://picsum.photos/200" title="Pombo"/>
    <p *ngSwitchCase="'nenhum'">Você precisa selecionar!</p>
</div>

