<input 
  [(ngModel)]="cod"
  type="text"
  class="form-control mb-3"
  placeholder="Digite um código : "
/>
<button [disabled]="!cod" class="btn btn-primary" (click)="irParaDetail()" >Buscar</button>
<hr>

<div class="d-flex justify-content-around align-items-center">
  <table class="table w-75 mt-3">
    <thead>
      <tr>
        <th>Cód.</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of produtos">
        <td>{{prod.cod}}</td>
        <td>{{prod.nome}}</td>
        <td>{{prod.preco}}</td>
        <td>
          <a routerLink="/produtos/{{prod.cod}}" class="btn btn-primary btn-sm">Detalhes</a>
        </td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
</div>


<!--
<div *ngFor="let prod of produtos" class="card mt-3" style="width: 18rem;">
    <img [src]="prod.imagem" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{prod.nome}}</h5>
      <b>{{prod.preco}}</b>
      <p class="card-text">{{prod.descricao}}</p>
      <a routerLink="/produtos/{{prod.cod}}" class="btn btn-primary">Ver Produto</a>
    </div>
  </div>
-->  