<div *ngIf="!naoEncontrado; else containerNaoEncontrado">
    <div class="card">
        <div class="card-header">
            Produto Nro.{{produto?.cod}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{produto?.nome}}</h5>
            <p class="card-text">{{produto?.descricao}}</p>
            <a routerLink="../" (click)="pressionouFechar=true" class="btn btn-primary">Fechar</a>
        </div>
    </div>
</div>

<ng-template #containerNaoEncontrado>
    <h2>Produto não encontrado!</h2>
</ng-template>